body{

    background:#f3f5f7;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    align-content: space-between;
}

.content{
    flex:1;
}
.card {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    border: 1px solid #e9ecef;
    margin-bottom: 20px;
}
.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    font-weight: 600;
    padding: 12px 20px;
}
.card-body {
    padding: 20px;
}

.main-title{
    font-weight:700;
}

.btn-kembali{
    background:#c62828;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-kembali:hover{
    background:#b71c1c;
    color:white;
}

.btn-unduh{
    background:#198754;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-unduh:hover{
    background:#157347;
    color:white;
}

/* container search */
.dataTables_filter{
    float: none !important;
    text-align: center;
}

/* label search */
.dataTables_filter label{
    width: 100%;
}

/* input search */
.dataTables_filter input{
    border: 1px solid rgb(167, 167, 167);
    width: 30% !important;
    margin-top: 20px !important;
    margin-left: 10px !important;
}

@media screen and (max-width:500px){
    .dataTables_filter input{
        width: 80% !important;
    }
    .page-item a{
        padding: 5px;
    }
}
@media screen and (max-width:300px){
    .dataTables_filter input{
        width: 70% !important;
    }
    .page-item a{
        padding: 6px;
        font-size: 10px;
    }
}

footer{
    margin-top: auto;
}